body{
    background-color:#1be2f9;
}

.left{
    right:45%;
    top:auto;
    
    position:absolute;
    
    width:45%;
    height:25%;
}

.right{
    right:10%;
    top:auto;
    
    position:absolute;
    
    width:25%;
    height:25%;
}

.cred{
    background-color:#f91b1b;
}

.cgreen{
    background-color:#8df91b;  
}
