.nav-bar{
    width:99%;
    height:25%;
    
    position:fixed top;
}

.header{
    width:20%;
    height:27%;
    position:fixed top;
    float:left;
    background-color:orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f4a742;
}
